{
  "openapi": "3.0.3",
  "info": {
    "title": "Google OAuth token exchange",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://oauth2.googleapis.com"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "operationId": "OAuthToken",
        "summary": "Exchange or refresh authorization credentials",
        "description": "Exchange an authorization code or refresh token for current OAuth access credentials. The caller stores the returned credentials and schedules renewal using the reported lifetimes.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "The authorization grant or client credentials were rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "OAuthGrantType": {
        "type": "string",
        "enum": [
          "authorization_code",
          "refresh_token"
        ]
      },
      "OAuthTokenRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string",
            "format": "uri"
          },
          "refresh_token": {
            "type": "string"
          },
          "grant_type": {
            "$ref": "#/components/schemas/OAuthGrantType"
          },
          "code_verifier": {
            "type": "string",
            "description": "PKCE verifier matching the authorization challenge."
          }
        },
        "additionalProperties": false,
        "required": [
          "client_id",
          "client_secret",
          "grant_type"
        ]
      },
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "refresh_token": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "id_token": {
            "type": "string"
          },
          "refresh_token_expires_in": {
            "type": "integer",
            "description": "Nonnegative remaining refresh token lifetime in seconds, returned for time-based access grants.",
            "minimum": 0
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "required": [
          "access_token",
          "expires_in",
          "token_type"
        ]
      },
      "OAuthErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/OAuthErrorCode"
          },
          "error_description": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "required": [
          "error"
        ]
      },
      "OAuthErrorCode": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9_]*$",
        "x-known-values": [
          "invalid_grant",
          "invalid_client",
          "unauthorized_client",
          "access_denied",
          "invalid_request",
          "unsupported_grant_type",
          "invalid_scope"
        ],
        "description": "Open OAuth token error code."
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Authorized auth operations."
    }
  ]
}
