{
  "openapi": "3.0.3",
  "info": {
    "title": "Pub/Sub delivery transport",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pubsub.googleapis.com/v1"
    }
  ],
  "paths": {
    "/projects/{projectId}/subscriptions/{subscriptionId}:pull": {
      "post": {
        "operationId": "Pull",
        "summary": "Receive messages from a Pub/Sub subscription",
        "description": "Receive pending messages up to the requested limit. Decode each message data payload as an SDM event, then acknowledge its delivery identifier after processing.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullResponse"
                }
              }
            }
          },
          "default": {
            "description": "Pub/Sub rejected the delivery operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullRequest"
              }
            }
          }
        },
        "tags": [
          "PubSub"
        ]
      }
    },
    "/projects/{projectId}/subscriptions/{subscriptionId}:acknowledge": {
      "post": {
        "operationId": "Acknowledge",
        "summary": "Acknowledge processed event messages",
        "description": "Mark the messages identified by their acknowledgement identifiers as processed so Pub/Sub can stop redelivering them to this subscription.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "default": {
            "description": "Pub/Sub rejected the delivery operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcknowledgeRequest"
              }
            }
          }
        },
        "tags": [
          "PubSub"
        ]
      }
    },
    "/projects/{projectId}/subscriptions/{subscriptionId}:modifyAckDeadline": {
      "post": {
        "operationId": "ModifyAckDeadline",
        "summary": "Change a message acknowledgement deadline",
        "description": "Set the remaining acknowledgement deadline for the supplied delivery identifiers. Use a positive deadline while processing or zero to make messages available for immediate redelivery.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "default": {
            "description": "Pub/Sub rejected the delivery operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyAckDeadlineRequest"
              }
            }
          }
        },
        "tags": [
          "PubSub"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PubSubMessage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "format": "byte"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "messageId": {
            "type": "string"
          },
          "publishTime": {
            "type": "string",
            "format": "date-time"
          },
          "orderingKey": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        }
      },
      "ReceivedMessage": {
        "type": "object",
        "properties": {
          "ackId": {
            "type": "string"
          },
          "message": {
            "$ref": "#/components/schemas/PubSubMessage"
          },
          "deliveryAttempt": {
            "type": "integer"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        }
      },
      "PullRequest": {
        "type": "object",
        "properties": {
          "maxMessages": {
            "type": "integer",
            "minimum": 1
          },
          "returnImmediately": {
            "type": "boolean",
            "deprecated": true
          }
        },
        "additionalProperties": false,
        "required": [
          "maxMessages"
        ]
      },
      "PullResponse": {
        "type": "object",
        "properties": {
          "receivedMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReceivedMessage"
            }
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        }
      },
      "AcknowledgeRequest": {
        "type": "object",
        "properties": {
          "ackIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "ackIds"
        ]
      },
      "ModifyAckDeadlineRequest": {
        "type": "object",
        "properties": {
          "ackIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ackDeadlineSeconds": {
            "type": "integer",
            "minimum": 0,
            "maximum": 600,
            "description": "Seconds from 0 through 600; zero makes the message available for immediate redelivery."
          }
        },
        "additionalProperties": false,
        "required": [
          "ackIds",
          "ackDeadlineSeconds"
        ]
      },
      "PushEnvelope": {
        "type": "object",
        "properties": {
          "message": {
            "$ref": "#/components/schemas/PubSubMessage"
          },
          "subscription": {
            "type": "string"
          },
          "deliveryAttempt": {
            "type": "integer"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "required": [
          "message",
          "subscription"
        ]
      },
      "EmptyResponse": {
        "type": "object",
        "properties": {},
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        }
      }
    }
  },
  "tags": [
    {
      "name": "PubSub",
      "description": "Authorized pubsub operations."
    }
  ]
}
