{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Nest SDM REST API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://smartdevicemanagement.googleapis.com/v1"
    }
  ],
  "paths": {
    "/enterprises/{enterpriseId}/devices": {
      "get": {
        "operationId": "ListDevices",
        "summary": "List authorized Devices",
        "description": "Use the caller authorization to ListDevices.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Requested device filter; service-defined expression.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDevicesResponse"
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Devices"
        ]
      }
    },
    "/enterprises/{enterpriseId}/devices/{deviceId}": {
      "get": {
        "operationId": "GetDevice",
        "summary": "Get authorized Device",
        "description": "Use the caller authorization to GetDevice.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Devices"
        ]
      }
    },
    "/enterprises/{enterpriseId}/devices/{deviceId}:executeCommand": {
      "post": {
        "operationId": "ExecuteCommand",
        "summary": "ExecuteCommand",
        "description": "Use the caller authorization to ExecuteCommand.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteCommandRequest"
              }
            }
          }
        },
        "tags": [
          "Devices"
        ]
      }
    },
    "/enterprises/{enterpriseId}/structures": {
      "get": {
        "operationId": "ListStructures",
        "summary": "List authorized Structures",
        "description": "Use the caller authorization to ListStructures.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStructuresResponse"
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Structures"
        ]
      }
    },
    "/enterprises/{enterpriseId}/structures/{structureId}": {
      "get": {
        "operationId": "GetStructure",
        "summary": "Get authorized Structure",
        "description": "Use the caller authorization to GetStructure.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "structureId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Structure"
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Structures"
        ]
      }
    },
    "/enterprises/{enterpriseId}/structures/{structureId}/rooms": {
      "get": {
        "operationId": "ListRooms",
        "summary": "List authorized Rooms",
        "description": "Use the caller authorization to ListRooms.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "structureId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRoomsResponse"
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Rooms"
        ]
      }
    },
    "/enterprises/{enterpriseId}/structures/{structureId}/rooms/{roomId}": {
      "get": {
        "operationId": "GetRoom",
        "summary": "Get authorized Room",
        "description": "Use the caller authorization to GetRoom.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "structureId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Rooms"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DeviceType": {
        "type": "string",
        "description": "Informational device type; use traits to infer capabilities.",
        "x-known-values": [
          "sdm.devices.types.THERMOSTAT",
          "sdm.devices.types.CAMERA",
          "sdm.devices.types.DOORBELL",
          "sdm.devices.types.DISPLAY"
        ],
        "pattern": "^sdm\\.devices\\.types\\.[A-Z][A-Z0-9_]*$"
      },
      "ParentRelation": {
        "type": "object",
        "properties": {
          "parent": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^enterprises/[^/]+/devices/[^/]+$"
          },
          "type": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "traits": {
            "$ref": "./traits.openapi.yaml#/components/schemas/Traits"
          },
          "parentRelations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParentRelation"
            }
          },
          "assignee": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "required": [
          "name"
        ]
      },
      "Structure": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^enterprises/[^/]+/structures/[^/]+$"
          },
          "traits": {
            "$ref": "./traits.openapi.yaml#/components/schemas/Traits"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "required": [
          "name"
        ]
      },
      "Room": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^enterprises/[^/]+/structures/[^/]+/rooms/[^/]+$"
          },
          "traits": {
            "$ref": "./traits.openapi.yaml#/components/schemas/Traits"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "required": [
          "name"
        ]
      },
      "ExecuteCommandRequest": {
        "type": "object",
        "properties": {
          "command": {
            "$ref": "./commands.openapi.yaml#/components/schemas/CommandName"
          },
          "params": {
            "x-go-type": "json.RawMessage"
          }
        },
        "additionalProperties": false,
        "required": [
          "command",
          "params"
        ]
      },
      "ExecuteCommandResponse": {
        "type": "object",
        "properties": {
          "results": {
            "x-go-type": "json.RawMessage"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        }
      },
      "ListDevicesResponse": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Device"
            }
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        }
      },
      "ListStructuresResponse": {
        "type": "object",
        "properties": {
          "structures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Structure"
            }
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        }
      },
      "ListRoomsResponse": {
        "type": "object",
        "properties": {
          "rooms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Room"
            }
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Devices",
      "description": "Authorized devices operations."
    },
    {
      "name": "Rooms",
      "description": "Authorized rooms operations."
    },
    {
      "name": "Structures",
      "description": "Authorized structures operations."
    }
  ]
}
