{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Nest SDM REST API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://smartdevicemanagement.googleapis.com/v1"
    }
  ],
  "paths": {
    "/enterprises/{enterpriseId}/devices": {
      "get": {
        "operationId": "ListDevices",
        "summary": "List authorized Devices",
        "description": "Use the caller authorization to ListDevices.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-enterprise"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Optional device custom-name substring filter, for example customName=Living.",
            "schema": {
              "type": "string"
            },
            "example": "customName=Living"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                },
                "example": "synthetic-user"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDevicesResponse"
                },
                "examples": {
                  "ThermostatAndCamera": {
                    "summary": "Authorized thermostat and camera",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "devices": [
                        {
                          "name": "enterprises/example-enterprise/devices/example-thermostat",
                          "type": "sdm.devices.types.THERMOSTAT",
                          "traits": {
                            "sdm.devices.traits.Connectivity": {
                              "status": "ONLINE"
                            },
                            "sdm.devices.traits.Fan": {
                              "timerMode": "ON",
                              "timerTimeout": "2026-01-01T12:15:00Z"
                            },
                            "sdm.devices.traits.Humidity": {
                              "ambientHumidityPercent": 45
                            },
                            "sdm.devices.traits.Info": {
                              "customName": "Living room thermostat"
                            },
                            "sdm.devices.traits.Settings": {
                              "temperatureScale": "CELSIUS"
                            },
                            "sdm.devices.traits.Temperature": {
                              "ambientTemperatureCelsius": 21.5
                            },
                            "sdm.devices.traits.ThermostatEco": {
                              "availableModes": [
                                "MANUAL_ECO",
                                "OFF"
                              ],
                              "mode": "OFF",
                              "heatCelsius": 18,
                              "coolCelsius": 27
                            },
                            "sdm.devices.traits.ThermostatHvac": {
                              "status": "HEATING"
                            },
                            "sdm.devices.traits.ThermostatMode": {
                              "availableModes": [
                                "HEAT",
                                "COOL",
                                "HEATCOOL",
                                "OFF"
                              ],
                              "mode": "HEAT"
                            },
                            "sdm.devices.traits.ThermostatTemperatureSetpoint": {
                              "heatCelsius": 20,
                              "coolCelsius": 25
                            }
                          },
                          "parentRelations": [
                            {
                              "parent": "enterprises/example-enterprise/structures/example-structure/rooms/example-room",
                              "displayName": "Living room"
                            }
                          ]
                        },
                        {
                          "name": "enterprises/example-enterprise/devices/example-camera",
                          "type": "sdm.devices.types.CAMERA",
                          "traits": {
                            "sdm.devices.traits.CameraLiveStream": {
                              "maxVideoResolution": {
                                "width": 1920,
                                "height": 1080
                              },
                              "videoCodecs": [
                                "H264"
                              ],
                              "audioCodecs": [
                                "OPUS"
                              ],
                              "supportedProtocols": [
                                "WEB_RTC"
                              ]
                            },
                            "sdm.devices.traits.CameraMotion": {},
                            "sdm.devices.traits.CameraPerson": {},
                            "sdm.devices.traits.CameraClipPreview": {}
                          }
                        }
                      ]
                    }
                  },
                  "NoAuthorizedDevices": {
                    "summary": "No authorized devices",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "devices": []
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                },
                "examples": {
                  "PermissionDenied": {
                    "summary": "Missing permission",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 403,
                        "status": "PERMISSION_DENIED",
                        "message": "The caller does not have permission for this resource."
                      }
                    }
                  },
                  "NotFound": {
                    "summary": "Unknown or unauthorized resource",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 404,
                        "status": "NOT_FOUND",
                        "message": "The requested resource was not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Devices"
        ]
      }
    },
    "/enterprises/{enterpriseId}/devices/{deviceId}": {
      "get": {
        "operationId": "GetDevice",
        "summary": "Get authorized Device",
        "description": "Use the caller authorization to GetDevice.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-enterprise"
          },
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-thermostat"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                },
                "example": "synthetic-user"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                },
                "examples": {
                  "Thermostat": {
                    "summary": "Thermostat snapshot",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "name": "enterprises/example-enterprise/devices/example-thermostat",
                      "type": "sdm.devices.types.THERMOSTAT",
                      "traits": {
                        "sdm.devices.traits.Connectivity": {
                          "status": "ONLINE"
                        },
                        "sdm.devices.traits.Fan": {
                          "timerMode": "ON",
                          "timerTimeout": "2026-01-01T12:15:00Z"
                        },
                        "sdm.devices.traits.Humidity": {
                          "ambientHumidityPercent": 45
                        },
                        "sdm.devices.traits.Info": {
                          "customName": "Living room thermostat"
                        },
                        "sdm.devices.traits.Settings": {
                          "temperatureScale": "CELSIUS"
                        },
                        "sdm.devices.traits.Temperature": {
                          "ambientTemperatureCelsius": 21.5
                        },
                        "sdm.devices.traits.ThermostatEco": {
                          "availableModes": [
                            "MANUAL_ECO",
                            "OFF"
                          ],
                          "mode": "OFF",
                          "heatCelsius": 18,
                          "coolCelsius": 27
                        },
                        "sdm.devices.traits.ThermostatHvac": {
                          "status": "HEATING"
                        },
                        "sdm.devices.traits.ThermostatMode": {
                          "availableModes": [
                            "HEAT",
                            "COOL",
                            "HEATCOOL",
                            "OFF"
                          ],
                          "mode": "HEAT"
                        },
                        "sdm.devices.traits.ThermostatTemperatureSetpoint": {
                          "heatCelsius": 20,
                          "coolCelsius": 25
                        }
                      },
                      "parentRelations": [
                        {
                          "parent": "enterprises/example-enterprise/structures/example-structure/rooms/example-room",
                          "displayName": "Living room"
                        }
                      ]
                    }
                  },
                  "Camera": {
                    "summary": "Camera capability snapshot",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "name": "enterprises/example-enterprise/devices/example-camera",
                      "type": "sdm.devices.types.CAMERA",
                      "traits": {
                        "sdm.devices.traits.CameraLiveStream": {
                          "maxVideoResolution": {
                            "width": 1920,
                            "height": 1080
                          },
                          "videoCodecs": [
                            "H264"
                          ],
                          "audioCodecs": [
                            "OPUS"
                          ],
                          "supportedProtocols": [
                            "WEB_RTC"
                          ]
                        },
                        "sdm.devices.traits.CameraMotion": {},
                        "sdm.devices.traits.CameraPerson": {},
                        "sdm.devices.traits.CameraClipPreview": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                },
                "examples": {
                  "PermissionDenied": {
                    "summary": "Missing permission",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 403,
                        "status": "PERMISSION_DENIED",
                        "message": "The caller does not have permission for this resource."
                      }
                    }
                  },
                  "NotFound": {
                    "summary": "Unknown or unauthorized resource",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 404,
                        "status": "NOT_FOUND",
                        "message": "The requested resource was not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Devices"
        ]
      }
    },
    "/enterprises/{enterpriseId}/devices/{deviceId}:executeCommand": {
      "post": {
        "operationId": "ExecuteCommand",
        "summary": "ExecuteCommand",
        "description": "Execute an explicit device command. Select the request variant matching command to inspect required params, then select its complete request example. Responses depend on the same command; empty results acknowledge controls, while camera commands return image or stream credentials.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-enterprise"
          },
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-thermostat"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                },
                "example": "synthetic-user"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                },
                "examples": {
                  "FanSetTimer": {
                    "summary": "Fan.SetTimer",
                    "description": "Synthetic Fan.SetTimer response.",
                    "value": {
                      "results": {}
                    }
                  },
                  "ThermostatEcoSetMode": {
                    "summary": "ThermostatEco.SetMode",
                    "description": "Synthetic ThermostatEco.SetMode response.",
                    "value": {
                      "results": {}
                    }
                  },
                  "ThermostatModeSetMode": {
                    "summary": "ThermostatMode.SetMode",
                    "description": "Synthetic ThermostatMode.SetMode response.",
                    "value": {
                      "results": {}
                    }
                  },
                  "ThermostatTemperatureSetpointSetHeat": {
                    "summary": "ThermostatTemperatureSetpoint.SetHeat",
                    "description": "Synthetic ThermostatTemperatureSetpoint.SetHeat response.",
                    "value": {
                      "results": {}
                    }
                  },
                  "ThermostatTemperatureSetpointSetCool": {
                    "summary": "ThermostatTemperatureSetpoint.SetCool",
                    "description": "Synthetic ThermostatTemperatureSetpoint.SetCool response.",
                    "value": {
                      "results": {}
                    }
                  },
                  "ThermostatTemperatureSetpointSetRange": {
                    "summary": "ThermostatTemperatureSetpoint.SetRange",
                    "description": "Synthetic ThermostatTemperatureSetpoint.SetRange response.",
                    "value": {
                      "results": {}
                    }
                  },
                  "CameraEventImageGenerateImage": {
                    "summary": "CameraEventImage.GenerateImage",
                    "description": "Synthetic CameraEventImage.GenerateImage response.",
                    "value": {
                      "results": {
                        "url": "https://media.example.invalid/image",
                        "token": "synthetic-image-token"
                      }
                    }
                  },
                  "CameraLiveStreamGenerateRtspStream": {
                    "summary": "CameraLiveStream.GenerateRtspStream",
                    "description": "Synthetic CameraLiveStream.GenerateRtspStream response.",
                    "value": {
                      "results": {
                        "streamExtensionToken": "synthetic-extension-token",
                        "streamToken": "synthetic-stream-token",
                        "expiresAt": "2026-01-01T12:05:00Z",
                        "streamUrls": {
                          "rtspUrl": "rtsp://media.example.invalid/live"
                        }
                      }
                    }
                  },
                  "CameraLiveStreamExtendRtspStream": {
                    "summary": "CameraLiveStream.ExtendRtspStream",
                    "description": "Synthetic CameraLiveStream.ExtendRtspStream response.",
                    "value": {
                      "results": {
                        "streamExtensionToken": "synthetic-extension-token",
                        "streamToken": "synthetic-stream-token",
                        "expiresAt": "2026-01-01T12:05:00Z"
                      }
                    }
                  },
                  "CameraLiveStreamStopRtspStream": {
                    "summary": "CameraLiveStream.StopRtspStream",
                    "description": "Synthetic CameraLiveStream.StopRtspStream response.",
                    "value": {
                      "results": {}
                    }
                  },
                  "CameraLiveStreamGenerateWebRtcStream": {
                    "summary": "CameraLiveStream.GenerateWebRtcStream",
                    "description": "Synthetic CameraLiveStream.GenerateWebRtcStream response.",
                    "value": {
                      "results": {
                        "expiresAt": "2026-01-01T12:05:00Z",
                        "mediaSessionId": "synthetic-media-session",
                        "answerSdp": "v=0\r\no=- 12345 1 IN IP4 127.0.0.1\r\ns=-\r\nt=0 0\r\nm=video 9 UDP/TLS/RTP/SAVPF 96\r\na=mid:0\r\na=ice-ufrag:synthetic\r\na=ice-pwd:syntheticIcePasswordExampleOnly\r\na=fingerprint:sha-256 00:01:02:03:04:05:06:07:08:09:0A:0B:0C:0D:0E:0F:10:11:12:13:14:15:16:17:18:19:1A:1B:1C:1D:1E:1F\r\na=setup:active\r\na=rtcp-mux\r\na=sendonly\r\na=rtpmap:96 H264/90000\r\n"
                      }
                    }
                  },
                  "CameraLiveStreamExtendWebRtcStream": {
                    "summary": "CameraLiveStream.ExtendWebRtcStream",
                    "description": "Synthetic CameraLiveStream.ExtendWebRtcStream response.",
                    "value": {
                      "results": {
                        "expiresAt": "2026-01-01T12:10:00Z",
                        "mediaSessionId": "synthetic-media-session"
                      }
                    }
                  },
                  "CameraLiveStreamStopWebRtcStream": {
                    "summary": "CameraLiveStream.StopWebRtcStream",
                    "description": "Synthetic CameraLiveStream.StopWebRtcStream response.",
                    "value": {
                      "results": {}
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                },
                "examples": {
                  "PermissionDenied": {
                    "summary": "Missing permission",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 403,
                        "status": "PERMISSION_DENIED",
                        "message": "The caller does not have permission for this resource."
                      }
                    }
                  },
                  "NotFound": {
                    "summary": "Unknown or unauthorized resource",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 404,
                        "status": "NOT_FOUND",
                        "message": "The requested resource was not found."
                      }
                    }
                  },
                  "InvalidArgument": {
                    "summary": "Invalid command parameters",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 400,
                        "status": "INVALID_ARGUMENT",
                        "message": "The command parameters are invalid."
                      }
                    }
                  },
                  "FailedPrecondition": {
                    "summary": "Current device state prevents command",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 400,
                        "status": "FAILED_PRECONDITION",
                        "message": "The thermostat mode does not permit this setpoint command."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteCommandRequest"
              },
              "examples": {
                "FanSetTimer": {
                  "summary": "Fan.SetTimer",
                  "description": "Synthetic complete Fan.SetTimer request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.Fan.SetTimer",
                    "params": {
                      "timerMode": "ON",
                      "duration": "900s"
                    }
                  }
                },
                "ThermostatEcoSetMode": {
                  "summary": "ThermostatEco.SetMode",
                  "description": "Synthetic complete ThermostatEco.SetMode request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.ThermostatEco.SetMode",
                    "params": {
                      "mode": "MANUAL_ECO"
                    }
                  }
                },
                "ThermostatModeSetMode": {
                  "summary": "ThermostatMode.SetMode",
                  "description": "Synthetic complete ThermostatMode.SetMode request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.ThermostatMode.SetMode",
                    "params": {
                      "mode": "HEAT"
                    }
                  }
                },
                "ThermostatTemperatureSetpointSetHeat": {
                  "summary": "ThermostatTemperatureSetpoint.SetHeat",
                  "description": "Synthetic complete ThermostatTemperatureSetpoint.SetHeat request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.ThermostatTemperatureSetpoint.SetHeat",
                    "params": {
                      "heatCelsius": 20
                    }
                  }
                },
                "ThermostatTemperatureSetpointSetCool": {
                  "summary": "ThermostatTemperatureSetpoint.SetCool",
                  "description": "Synthetic complete ThermostatTemperatureSetpoint.SetCool request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.ThermostatTemperatureSetpoint.SetCool",
                    "params": {
                      "coolCelsius": 25
                    }
                  }
                },
                "ThermostatTemperatureSetpointSetRange": {
                  "summary": "ThermostatTemperatureSetpoint.SetRange",
                  "description": "Synthetic complete ThermostatTemperatureSetpoint.SetRange request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.ThermostatTemperatureSetpoint.SetRange",
                    "params": {
                      "heatCelsius": 20,
                      "coolCelsius": 25
                    }
                  }
                },
                "CameraEventImageGenerateImage": {
                  "summary": "CameraEventImage.GenerateImage",
                  "description": "Synthetic complete CameraEventImage.GenerateImage request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.CameraEventImage.GenerateImage",
                    "params": {
                      "eventId": "camera-image-event-example"
                    }
                  }
                },
                "CameraLiveStreamGenerateRtspStream": {
                  "summary": "CameraLiveStream.GenerateRtspStream",
                  "description": "Synthetic complete CameraLiveStream.GenerateRtspStream request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.CameraLiveStream.GenerateRtspStream",
                    "params": {}
                  }
                },
                "CameraLiveStreamExtendRtspStream": {
                  "summary": "CameraLiveStream.ExtendRtspStream",
                  "description": "Synthetic complete CameraLiveStream.ExtendRtspStream request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.CameraLiveStream.ExtendRtspStream",
                    "params": {
                      "streamExtensionToken": "synthetic-extension-token"
                    }
                  }
                },
                "CameraLiveStreamStopRtspStream": {
                  "summary": "CameraLiveStream.StopRtspStream",
                  "description": "Synthetic complete CameraLiveStream.StopRtspStream request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.CameraLiveStream.StopRtspStream",
                    "params": {
                      "streamExtensionToken": "synthetic-extension-token"
                    }
                  }
                },
                "CameraLiveStreamGenerateWebRtcStream": {
                  "summary": "CameraLiveStream.GenerateWebRtcStream",
                  "description": "Synthetic complete CameraLiveStream.GenerateWebRtcStream request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.CameraLiveStream.GenerateWebRtcStream",
                    "params": {
                      "offerSdp": "v=0\r\no=- 12345 1 IN IP4 127.0.0.1\r\ns=-\r\nt=0 0\r\na=group:BUNDLE 0\r\nm=video 9 UDP/TLS/RTP/SAVPF 96\r\na=mid:0\r\na=ice-ufrag:synthetic\r\na=ice-pwd:syntheticIcePasswordExampleOnly\r\na=fingerprint:sha-256 00:01:02:03:04:05:06:07:08:09:0A:0B:0C:0D:0E:0F:10:11:12:13:14:15:16:17:18:19:1A:1B:1C:1D:1E:1F\r\na=setup:actpass\r\na=rtcp-mux\r\na=recvonly\r\na=rtpmap:96 H264/90000\r\n"
                    }
                  }
                },
                "CameraLiveStreamExtendWebRtcStream": {
                  "summary": "CameraLiveStream.ExtendWebRtcStream",
                  "description": "Synthetic complete CameraLiveStream.ExtendWebRtcStream request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.CameraLiveStream.ExtendWebRtcStream",
                    "params": {
                      "mediaSessionId": "synthetic-media-session"
                    }
                  }
                },
                "CameraLiveStreamStopWebRtcStream": {
                  "summary": "CameraLiveStream.StopWebRtcStream",
                  "description": "Synthetic complete CameraLiveStream.StopWebRtcStream request. Replace illustrative identifiers, tokens and SDP with caller values.",
                  "value": {
                    "command": "sdm.devices.commands.CameraLiveStream.StopWebRtcStream",
                    "params": {
                      "mediaSessionId": "synthetic-media-session"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Devices"
        ]
      }
    },
    "/enterprises/{enterpriseId}/structures": {
      "get": {
        "operationId": "ListStructures",
        "summary": "List authorized Structures",
        "description": "Use the caller authorization to ListStructures.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-enterprise"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                },
                "example": "synthetic-user"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStructuresResponse"
                },
                "examples": {
                  "AuthorizedStructure": {
                    "summary": "Authorized structure",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "structures": [
                        {
                          "name": "enterprises/example-enterprise/structures/example-structure",
                          "traits": {
                            "sdm.structures.traits.Info": {
                              "customName": "Example home"
                            }
                          }
                        }
                      ]
                    }
                  },
                  "NoAuthorizedStructures": {
                    "summary": "No authorized structures",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "structures": []
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                },
                "examples": {
                  "PermissionDenied": {
                    "summary": "Missing permission",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 403,
                        "status": "PERMISSION_DENIED",
                        "message": "The caller does not have permission for this resource."
                      }
                    }
                  },
                  "NotFound": {
                    "summary": "Unknown or unauthorized resource",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 404,
                        "status": "NOT_FOUND",
                        "message": "The requested resource was not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Structures"
        ]
      }
    },
    "/enterprises/{enterpriseId}/structures/{structureId}": {
      "get": {
        "operationId": "GetStructure",
        "summary": "Get authorized Structure",
        "description": "Use the caller authorization to GetStructure.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-enterprise"
          },
          {
            "name": "structureId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-structure"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                },
                "example": "synthetic-user"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Structure"
                },
                "examples": {
                  "Home": {
                    "summary": "Structure snapshot",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "name": "enterprises/example-enterprise/structures/example-structure",
                      "traits": {
                        "sdm.structures.traits.Info": {
                          "customName": "Example home"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                },
                "examples": {
                  "PermissionDenied": {
                    "summary": "Missing permission",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 403,
                        "status": "PERMISSION_DENIED",
                        "message": "The caller does not have permission for this resource."
                      }
                    }
                  },
                  "NotFound": {
                    "summary": "Unknown or unauthorized resource",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 404,
                        "status": "NOT_FOUND",
                        "message": "The requested resource was not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Structures"
        ]
      }
    },
    "/enterprises/{enterpriseId}/structures/{structureId}/rooms": {
      "get": {
        "operationId": "ListRooms",
        "summary": "List authorized Rooms",
        "description": "Use the caller authorization to ListRooms.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-enterprise"
          },
          {
            "name": "structureId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-structure"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                },
                "example": "synthetic-user"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRoomsResponse"
                },
                "examples": {
                  "AuthorizedRoom": {
                    "summary": "Authorized room",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "rooms": [
                        {
                          "name": "enterprises/example-enterprise/structures/example-structure/rooms/example-room",
                          "traits": {
                            "sdm.structures.traits.RoomInfo": {
                              "customName": "Living room"
                            }
                          }
                        }
                      ]
                    }
                  },
                  "NoAuthorizedRooms": {
                    "summary": "No authorized rooms",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "rooms": []
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                },
                "examples": {
                  "PermissionDenied": {
                    "summary": "Missing permission",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 403,
                        "status": "PERMISSION_DENIED",
                        "message": "The caller does not have permission for this resource."
                      }
                    }
                  },
                  "NotFound": {
                    "summary": "Unknown or unauthorized resource",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 404,
                        "status": "NOT_FOUND",
                        "message": "The requested resource was not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Rooms"
        ]
      }
    },
    "/enterprises/{enterpriseId}/structures/{structureId}/rooms/{roomId}": {
      "get": {
        "operationId": "GetRoom",
        "summary": "Get authorized Room",
        "description": "Use the caller authorization to GetRoom.",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-enterprise"
          },
          {
            "name": "structureId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-structure"
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "Authorized resource identifier.",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "example": "example-room"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "headers": {
              "userId": {
                "description": "Obfuscated user identity.",
                "schema": {
                  "type": "string"
                },
                "example": "synthetic-user"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "examples": {
                  "Room": {
                    "summary": "Room snapshot",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "name": "enterprises/example-enterprise/structures/example-structure/rooms/example-room",
                      "traits": {
                        "sdm.structures.traits.RoomInfo": {
                          "customName": "Living room"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "The provider rejected the operation; status and typed error describe the failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./errors.openapi.yaml#/components/schemas/GoogleErrorResponse"
                },
                "examples": {
                  "PermissionDenied": {
                    "summary": "Missing permission",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 403,
                        "status": "PERMISSION_DENIED",
                        "message": "The caller does not have permission for this resource."
                      }
                    }
                  },
                  "NotFound": {
                    "summary": "Unknown or unauthorized resource",
                    "description": "Sanitized synthetic illustration; replace example identifiers and credentials with caller values.",
                    "value": {
                      "error": {
                        "code": 404,
                        "status": "NOT_FOUND",
                        "message": "The requested resource was not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Rooms"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DeviceType": {
        "type": "string",
        "description": "Informational device type; use traits to infer capabilities.",
        "x-known-values": [
          "sdm.devices.types.THERMOSTAT",
          "sdm.devices.types.CAMERA",
          "sdm.devices.types.DOORBELL",
          "sdm.devices.types.DISPLAY"
        ],
        "pattern": "^sdm\\.devices\\.types\\.[A-Z][A-Z0-9_]*$"
      },
      "ParentRelation": {
        "type": "object",
        "properties": {
          "parent": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "example": {
          "parent": "enterprises/example-enterprise/structures/example-structure/rooms/example-room",
          "displayName": "Living room"
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^enterprises/[^/]+/devices/[^/]+$"
          },
          "type": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "traits": {
            "$ref": "./traits.openapi.yaml#/components/schemas/Traits"
          },
          "parentRelations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParentRelation"
            }
          },
          "assignee": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "required": [
          "name"
        ],
        "example": {
          "name": "enterprises/example-enterprise/devices/example-thermostat",
          "type": "sdm.devices.types.THERMOSTAT",
          "traits": {
            "sdm.devices.traits.Connectivity": {
              "status": "ONLINE"
            },
            "sdm.devices.traits.Fan": {
              "timerMode": "ON",
              "timerTimeout": "2026-01-01T12:15:00Z"
            },
            "sdm.devices.traits.Humidity": {
              "ambientHumidityPercent": 45
            },
            "sdm.devices.traits.Info": {
              "customName": "Living room thermostat"
            },
            "sdm.devices.traits.Settings": {
              "temperatureScale": "CELSIUS"
            },
            "sdm.devices.traits.Temperature": {
              "ambientTemperatureCelsius": 21.5
            },
            "sdm.devices.traits.ThermostatEco": {
              "availableModes": [
                "MANUAL_ECO",
                "OFF"
              ],
              "mode": "OFF",
              "heatCelsius": 18,
              "coolCelsius": 27
            },
            "sdm.devices.traits.ThermostatHvac": {
              "status": "HEATING"
            },
            "sdm.devices.traits.ThermostatMode": {
              "availableModes": [
                "HEAT",
                "COOL",
                "HEATCOOL",
                "OFF"
              ],
              "mode": "HEAT"
            },
            "sdm.devices.traits.ThermostatTemperatureSetpoint": {
              "heatCelsius": 20,
              "coolCelsius": 25
            }
          },
          "parentRelations": [
            {
              "parent": "enterprises/example-enterprise/structures/example-structure/rooms/example-room",
              "displayName": "Living room"
            }
          ]
        }
      },
      "Structure": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^enterprises/[^/]+/structures/[^/]+$"
          },
          "traits": {
            "$ref": "./traits.openapi.yaml#/components/schemas/Traits"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "required": [
          "name"
        ],
        "example": {
          "name": "enterprises/example-enterprise/structures/example-structure",
          "traits": {
            "sdm.structures.traits.Info": {
              "customName": "Example home"
            }
          }
        }
      },
      "Room": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^enterprises/[^/]+/structures/[^/]+/rooms/[^/]+$"
          },
          "traits": {
            "$ref": "./traits.openapi.yaml#/components/schemas/Traits"
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "required": [
          "name"
        ],
        "example": {
          "name": "enterprises/example-enterprise/structures/example-structure/rooms/example-room",
          "traits": {
            "sdm.structures.traits.RoomInfo": {
              "customName": "Living room"
            }
          }
        }
      },
      "ExecuteCommandRequest": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string",
            "pattern": "^sdm\\.devices\\.commands\\.[A-Za-z][A-Za-z0-9]*\\.[A-Za-z][A-Za-z0-9]*$",
            "x-go-type": "CommandName",
            "description": "Fully qualified command name. The selected request variant determines the allowed params."
          },
          "params": {
            "type": "object",
            "x-go-type": "json.RawMessage",
            "description": "Parameters are defined by the selected command variant below."
          }
        },
        "additionalProperties": false,
        "required": [
          "command",
          "params"
        ],
        "description": "Select a command variant to see its required parameters. Examples are sanitized synthetic illustrations of the published SDM contracts. Future command names have an explicit open branch; known commands must use their matching parameter schema.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/FanSetTimerRequest"
          },
          {
            "$ref": "#/components/schemas/ThermostatEcoSetModeRequest"
          },
          {
            "$ref": "#/components/schemas/ThermostatModeSetModeRequest"
          },
          {
            "$ref": "#/components/schemas/ThermostatTemperatureSetpointSetHeatRequest"
          },
          {
            "$ref": "#/components/schemas/ThermostatTemperatureSetpointSetCoolRequest"
          },
          {
            "$ref": "#/components/schemas/ThermostatTemperatureSetpointSetRangeRequest"
          },
          {
            "$ref": "#/components/schemas/CameraEventImageGenerateImageRequest"
          },
          {
            "$ref": "#/components/schemas/CameraLiveStreamGenerateRtspStreamRequest"
          },
          {
            "$ref": "#/components/schemas/CameraLiveStreamExtendRtspStreamRequest"
          },
          {
            "$ref": "#/components/schemas/CameraLiveStreamStopRtspStreamRequest"
          },
          {
            "$ref": "#/components/schemas/CameraLiveStreamGenerateWebRtcStreamRequest"
          },
          {
            "$ref": "#/components/schemas/CameraLiveStreamExtendWebRtcStreamRequest"
          },
          {
            "$ref": "#/components/schemas/CameraLiveStreamStopWebRtcStreamRequest"
          },
          {
            "$ref": "#/components/schemas/FutureCommandRequest"
          }
        ],
        "example": {
          "command": "sdm.devices.commands.Fan.SetTimer",
          "params": {
            "timerMode": "ON",
            "duration": "900s"
          }
        }
      },
      "ExecuteCommandResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "x-go-type": "json.RawMessage",
            "anyOf": [
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/FanSetTimerResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatEcoSetModeResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatModeSetModeResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatTemperatureSetpointSetHeatResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatTemperatureSetpointSetCoolResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatTemperatureSetpointSetRangeResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/CameraEventImageGenerateImageResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamGenerateRtspStreamResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamExtendRtspStreamResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamStopRtspStreamResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamGenerateWebRtcStreamResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamExtendWebRtcStreamResults"
              },
              {
                "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamStopWebRtcStreamResults"
              }
            ]
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "description": "Command-specific result object. Select the response example with the same command name as the request. Empty acknowledgement schemas overlap, so results use anyOf.",
        "example": {
          "results": {
            "url": "https://media.example.invalid/image",
            "token": "synthetic-image-token"
          }
        }
      },
      "ListDevicesResponse": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Device"
            }
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "example": {
          "devices": [
            {
              "name": "enterprises/example-enterprise/devices/example-thermostat",
              "type": "sdm.devices.types.THERMOSTAT",
              "traits": {
                "sdm.devices.traits.Connectivity": {
                  "status": "ONLINE"
                },
                "sdm.devices.traits.Fan": {
                  "timerMode": "ON",
                  "timerTimeout": "2026-01-01T12:15:00Z"
                },
                "sdm.devices.traits.Humidity": {
                  "ambientHumidityPercent": 45
                },
                "sdm.devices.traits.Info": {
                  "customName": "Living room thermostat"
                },
                "sdm.devices.traits.Settings": {
                  "temperatureScale": "CELSIUS"
                },
                "sdm.devices.traits.Temperature": {
                  "ambientTemperatureCelsius": 21.5
                },
                "sdm.devices.traits.ThermostatEco": {
                  "availableModes": [
                    "MANUAL_ECO",
                    "OFF"
                  ],
                  "mode": "OFF",
                  "heatCelsius": 18,
                  "coolCelsius": 27
                },
                "sdm.devices.traits.ThermostatHvac": {
                  "status": "HEATING"
                },
                "sdm.devices.traits.ThermostatMode": {
                  "availableModes": [
                    "HEAT",
                    "COOL",
                    "HEATCOOL",
                    "OFF"
                  ],
                  "mode": "HEAT"
                },
                "sdm.devices.traits.ThermostatTemperatureSetpoint": {
                  "heatCelsius": 20,
                  "coolCelsius": 25
                }
              },
              "parentRelations": [
                {
                  "parent": "enterprises/example-enterprise/structures/example-structure/rooms/example-room",
                  "displayName": "Living room"
                }
              ]
            },
            {
              "name": "enterprises/example-enterprise/devices/example-camera",
              "type": "sdm.devices.types.CAMERA",
              "traits": {
                "sdm.devices.traits.CameraLiveStream": {
                  "maxVideoResolution": {
                    "width": 1920,
                    "height": 1080
                  },
                  "videoCodecs": [
                    "H264"
                  ],
                  "audioCodecs": [
                    "OPUS"
                  ],
                  "supportedProtocols": [
                    "WEB_RTC"
                  ]
                },
                "sdm.devices.traits.CameraMotion": {},
                "sdm.devices.traits.CameraPerson": {},
                "sdm.devices.traits.CameraClipPreview": {}
              }
            }
          ]
        }
      },
      "ListStructuresResponse": {
        "type": "object",
        "properties": {
          "structures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Structure"
            }
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "example": {
          "structures": [
            {
              "name": "enterprises/example-enterprise/structures/example-structure",
              "traits": {
                "sdm.structures.traits.Info": {
                  "customName": "Example home"
                }
              }
            }
          ]
        }
      },
      "ListRoomsResponse": {
        "type": "object",
        "properties": {
          "rooms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Room"
            }
          }
        },
        "additionalProperties": {
          "x-go-type": "json.RawMessage"
        },
        "example": {
          "rooms": [
            {
              "name": "enterprises/example-enterprise/structures/example-structure/rooms/example-room",
              "traits": {
                "sdm.structures.traits.RoomInfo": {
                  "customName": "Living room"
                }
              }
            }
          ]
        }
      },
      "FanSetTimerRequest": {
        "title": "Fan.SetTimer",
        "type": "object",
        "description": "Request for Fan.SetTimer.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.Fan.SetTimer"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/FanSetTimerParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.Fan.SetTimer",
          "params": {
            "timerMode": "ON",
            "duration": "900s"
          }
        }
      },
      "ThermostatEcoSetModeRequest": {
        "title": "ThermostatEco.SetMode",
        "type": "object",
        "description": "Request for ThermostatEco.SetMode.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.ThermostatEco.SetMode"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatEcoSetModeParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.ThermostatEco.SetMode",
          "params": {
            "mode": "MANUAL_ECO"
          }
        }
      },
      "ThermostatModeSetModeRequest": {
        "title": "ThermostatMode.SetMode",
        "type": "object",
        "description": "Request for ThermostatMode.SetMode.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.ThermostatMode.SetMode"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatModeSetModeParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.ThermostatMode.SetMode",
          "params": {
            "mode": "HEAT"
          }
        }
      },
      "ThermostatTemperatureSetpointSetHeatRequest": {
        "title": "ThermostatTemperatureSetpoint.SetHeat",
        "type": "object",
        "description": "Request for ThermostatTemperatureSetpoint.SetHeat.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.ThermostatTemperatureSetpoint.SetHeat"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatTemperatureSetpointSetHeatParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.ThermostatTemperatureSetpoint.SetHeat",
          "params": {
            "heatCelsius": 20
          }
        }
      },
      "ThermostatTemperatureSetpointSetCoolRequest": {
        "title": "ThermostatTemperatureSetpoint.SetCool",
        "type": "object",
        "description": "Request for ThermostatTemperatureSetpoint.SetCool.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.ThermostatTemperatureSetpoint.SetCool"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatTemperatureSetpointSetCoolParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.ThermostatTemperatureSetpoint.SetCool",
          "params": {
            "coolCelsius": 25
          }
        }
      },
      "ThermostatTemperatureSetpointSetRangeRequest": {
        "title": "ThermostatTemperatureSetpoint.SetRange",
        "type": "object",
        "description": "Request for ThermostatTemperatureSetpoint.SetRange.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.ThermostatTemperatureSetpoint.SetRange"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/ThermostatTemperatureSetpointSetRangeParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.ThermostatTemperatureSetpoint.SetRange",
          "params": {
            "heatCelsius": 20,
            "coolCelsius": 25
          }
        }
      },
      "CameraEventImageGenerateImageRequest": {
        "title": "CameraEventImage.GenerateImage",
        "type": "object",
        "description": "Request for CameraEventImage.GenerateImage.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.CameraEventImage.GenerateImage"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/CameraEventImageGenerateImageParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.CameraEventImage.GenerateImage",
          "params": {
            "eventId": "camera-image-event-example"
          }
        }
      },
      "CameraLiveStreamGenerateRtspStreamRequest": {
        "title": "CameraLiveStream.GenerateRtspStream",
        "type": "object",
        "description": "Request for CameraLiveStream.GenerateRtspStream.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.CameraLiveStream.GenerateRtspStream"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamGenerateRtspStreamParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.CameraLiveStream.GenerateRtspStream",
          "params": {}
        }
      },
      "CameraLiveStreamExtendRtspStreamRequest": {
        "title": "CameraLiveStream.ExtendRtspStream",
        "type": "object",
        "description": "Request for CameraLiveStream.ExtendRtspStream.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.CameraLiveStream.ExtendRtspStream"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamExtendRtspStreamParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.CameraLiveStream.ExtendRtspStream",
          "params": {
            "streamExtensionToken": "synthetic-extension-token"
          }
        }
      },
      "CameraLiveStreamStopRtspStreamRequest": {
        "title": "CameraLiveStream.StopRtspStream",
        "type": "object",
        "description": "Request for CameraLiveStream.StopRtspStream.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.CameraLiveStream.StopRtspStream"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamStopRtspStreamParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.CameraLiveStream.StopRtspStream",
          "params": {
            "streamExtensionToken": "synthetic-extension-token"
          }
        }
      },
      "CameraLiveStreamGenerateWebRtcStreamRequest": {
        "title": "CameraLiveStream.GenerateWebRtcStream",
        "type": "object",
        "description": "Request for CameraLiveStream.GenerateWebRtcStream.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.CameraLiveStream.GenerateWebRtcStream"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamGenerateWebRtcStreamParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.CameraLiveStream.GenerateWebRtcStream",
          "params": {
            "offerSdp": "v=0\r\no=- 12345 1 IN IP4 127.0.0.1\r\ns=-\r\nt=0 0\r\na=group:BUNDLE 0\r\nm=video 9 UDP/TLS/RTP/SAVPF 96\r\na=mid:0\r\na=ice-ufrag:synthetic\r\na=ice-pwd:syntheticIcePasswordExampleOnly\r\na=fingerprint:sha-256 00:01:02:03:04:05:06:07:08:09:0A:0B:0C:0D:0E:0F:10:11:12:13:14:15:16:17:18:19:1A:1B:1C:1D:1E:1F\r\na=setup:actpass\r\na=rtcp-mux\r\na=recvonly\r\na=rtpmap:96 H264/90000\r\n"
          }
        }
      },
      "CameraLiveStreamExtendWebRtcStreamRequest": {
        "title": "CameraLiveStream.ExtendWebRtcStream",
        "type": "object",
        "description": "Request for CameraLiveStream.ExtendWebRtcStream.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.CameraLiveStream.ExtendWebRtcStream"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamExtendWebRtcStreamParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.CameraLiveStream.ExtendWebRtcStream",
          "params": {
            "mediaSessionId": "synthetic-media-session"
          }
        }
      },
      "CameraLiveStreamStopWebRtcStreamRequest": {
        "title": "CameraLiveStream.StopWebRtcStream",
        "type": "object",
        "description": "Request for CameraLiveStream.StopWebRtcStream.",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "sdm.devices.commands.CameraLiveStream.StopWebRtcStream"
            ],
            "x-go-type": "CommandName"
          },
          "params": {
            "$ref": "./commands.openapi.yaml#/components/schemas/CameraLiveStreamStopWebRtcStreamParams"
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false,
        "example": {
          "command": "sdm.devices.commands.CameraLiveStream.StopWebRtcStream",
          "params": {
            "mediaSessionId": "synthetic-media-session"
          }
        }
      },
      "FutureCommandRequest": {
        "title": "Future command (caller supplied)",
        "type": "object",
        "description": "Compatibility shape for a future command absent from this catalog. Its parameters are caller defined; this branch does not permit malformed parameters for the known commands.",
        "properties": {
          "command": {
            "type": "string",
            "pattern": "^sdm\\.devices\\.commands\\.[A-Za-z][A-Za-z0-9]*\\.[A-Za-z][A-Za-z0-9]*$",
            "not": {
              "enum": [
                "sdm.devices.commands.Fan.SetTimer",
                "sdm.devices.commands.ThermostatEco.SetMode",
                "sdm.devices.commands.ThermostatMode.SetMode",
                "sdm.devices.commands.ThermostatTemperatureSetpoint.SetHeat",
                "sdm.devices.commands.ThermostatTemperatureSetpoint.SetCool",
                "sdm.devices.commands.ThermostatTemperatureSetpoint.SetRange",
                "sdm.devices.commands.CameraEventImage.GenerateImage",
                "sdm.devices.commands.CameraLiveStream.GenerateRtspStream",
                "sdm.devices.commands.CameraLiveStream.ExtendRtspStream",
                "sdm.devices.commands.CameraLiveStream.StopRtspStream",
                "sdm.devices.commands.CameraLiveStream.GenerateWebRtcStream",
                "sdm.devices.commands.CameraLiveStream.ExtendWebRtcStream",
                "sdm.devices.commands.CameraLiveStream.StopWebRtcStream"
              ]
            },
            "x-go-type": "CommandName"
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "x-go-type": "json.RawMessage"
            }
          }
        },
        "required": [
          "command",
          "params"
        ],
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "sdmBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth 2.0 access token",
        "description": "OAuth 2.0 access token for the linked Nest account with https://www.googleapis.com/auth/sdm.service scope and the device or structure permissions granted through Partner Connections Manager."
      }
    }
  },
  "tags": [
    {
      "name": "Devices",
      "description": "Authorized devices operations."
    },
    {
      "name": "Rooms",
      "description": "Authorized rooms operations."
    },
    {
      "name": "Structures",
      "description": "Authorized structures operations."
    }
  ],
  "security": [
    {
      "sdmBearerAuth": []
    }
  ]
}
